body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.inicio{
    font-family: 'Irish Grover';
    background: url(../images/fundos/fundoInicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}


.alterar{
    font-family: 'VT323';
    background: url(../images/fundos/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.form{
    border-radius: 0.3125rem;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 8px 12px 7px 5px rgba(0, 0, 0, 0.25);
}

.logo{
    width: 30vw;
    height: auto;
}

.form input{
    background: #FFF;
    border-radius: 0.3125rem;
    color: #616060;
}

.form input:focus{
    outline: none;
    border: 2px solid #FF9EFC; 
    box-shadow: 0px 0px 0px 2px #febdfc;  
 }

label{
    font-size: 1.23rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p{
    margin: 0;
    padding: 0;
    color: #FFF;
}

a{
    text-decoration: none;
    color: #FFF;
}

a:hover{
    color: #cecdcd;
}

button, .btn_voltar{
    text-transform: uppercase;
    color: #FFF;
    border: none;
    border-radius: 0.3125rem;
    background: #2F062D;
    max-width: max-content;
    padding: 1vh 2vh;
}

button:hover, .btn_voltar:hover{
    color: #a8a8a8;
    background-color: #220521;
}

.btn-inicio{
    font: 1.375rem/1.35 "Irish Grover", sans-serif;
}

.btn-alterar{
    font: 4vh/1.35 "VT323", sans-serif;
}

.alterar .tituloAlteracao{
    font-size: 3.5vh;
    background: -webkit-linear-gradient(#816995, #f2d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alterar .btn-voltar{
    margin: 2vh;
    font-size: 4vh;
}

.alterar .btn-voltar img{
    width: 5.5vh;
} 

.alterar .btn-alterar img{
    width: 3.5vh;
}

/* Tela de proteção */

.titulo {
    color: #FFF;
    font-size: 5vh;
}

.paragrafo {
    font-size: 2.7vh;
}

